.gridster-wrapper {
  display: flex;
  gridster {
    background: #34495e;
    display: flex;
    height: calc(100vh - 40px);
    flex-direction: column;

    button {
      height: 30px;
      width: 30px;
      border: none;
      border-radius: 50%;
      float: right;
      margin: 2px 5px;
      position: absolute;
      top: 0;
      right: 0;
      span{
        font-size: 22px;
      }
    }
    li{
      list-style: none;
      cursor: pointer;

      img{
        width: -webkit-fill-available;
        height: -webkit-fill-available;
        display: -webkit-box;
      }
    }
  }
}
