<div class="gridster-wrapper row">
  <div class="toolbar">
    <button class="add-btn" (click)="addItem()">Add Item</button>
    <button  class="export-btn" (click)="exportDashboard()">Export</button>
    <div  class="example">
      <a href="#" routerLink="/image">Click to see more example</a>
    </div>
  </div>
  <gridster id="dashboard-layout" [options]="options">
    <gridster-item *ngFor="let item of dashboard" [item]="item">
      <div class="gridster-item-content" *ngIf="item.hasContent">
        <div class="stuff">
          <div>
            <canvas
                baseChart
                [chartType]="'line'"
                [datasets]="chartData"
                [labels]="chartLabels"
                [options]="chartOptions"
                [legend]="true"
                (chartClick)="onChartClick($event)">
            </canvas>
          </div>
        </div>
      </div>
      <button *ngIf="!item.hasContent" (click)="removeItem($event,item)">
        <span> &times; </span>
      </button>
    </gridster-item>
  </gridster>
</div>
